/**************************************************************************************************************************************/
/*************************************************************animations********************************************************************/
/**************************************************************************************************************************************/

/* slider sur les choix de menu*/

.proposition__1 {
  animation-name: sliders;
  animation-duration: 1000ms;
  animation-fill-mode: backwards;
  /*animation-fill-mode : backwards conserve les propriétés de l'élements avant l'execution de l'anim*/
}
@keyframes sliders {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.proposition__2 {
  animation-name: sliders;
  animation-duration: 1000ms;
  animation-fill-mode: backwards;
}
@keyframes sliders {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.proposition__2 {
  animation-delay: 500ms;
}

.proposition__3 {
  animation-name: sliders;
  animation-duration: 1000ms;
  animation-fill-mode: backwards;
}
@keyframes sliders {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.proposition__3 {
  animation-delay: 1000ms;
}

.proposition__4 {
  animation-name: sliders;
  animation-duration: 1000ms;
  animation-fill-mode: backwards;
}
@keyframes sliders {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.proposition__4 {
  animation-delay: 1500ms;
}

/* encoche verte qui apparaît au hover*/

.filter__text {
  display: flex;
  width: 100%;
  flex-direction: row;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: all 800ms;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px;
  & p {
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
  }
    &__price {
      font-weight: bold;
      margin-right: 15px;
      display: flex;
      align-items: flex-end;
      height: 41px;
    }
  }
  
.filter__check {
  width: 0%;
  color: transparent;
  font-size: xx-large;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 110px;
  border-top-right-radius: 20px 20px;
  border-bottom-right-radius: 20px 20px;
  transition: all 800ms;
  display: flex;
}

.filter:hover{
  cursor: pointer;
}

/* la div filter check se déploit de 30% au survol de la div filter*/
.filter:hover > .filter__check {
  width:30%;
  background-color: $tertiary-color;
  color: $bg-card;
  display: flex;
}
.filter:hover > .filter__text{
  width:70%;
}
/*l'icône check-circle effectue une rotation de 365° au hover*/ 
.filter:hover .fa-check-circle {
  transform: rotate(365deg);
}

.fa-check-circle {
  transition: transform 800ms;
}



