/**************************************************************************************************************************************/
/*************************************************************loader********************************************************************/
/**************************************************************************************************************************************/

/* initialisation du loader qui prend 
toute la page et disparaît*/

.loading{
  position:fixed;
  background-color: $white;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  opacity: 0.9;
  animation: disappear;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  transform-origin: top;

  /* création du cercle qui tourne sur lui-même*/

  &_cercle{
    border-top: 10px solid $new-color;
    border-bottom: 10px solid $secondary-color;
    border-left: 10px solid $tertiary-color;
    border-right: 10px solid $primary-color;
    border-radius: 50%;
    background-image: url(../../public/images/couverts.png);
    width: 100px;
    height: 100px;
    margin: auto;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: turn 1s linear infinite;
  }
}

/* animation du loader qui disparaît 
comme une slide*/

@keyframes disappear{
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-100vh);
  }
}

/* animation du cercle coloré qui 
tourne sur lui-même*/

@keyframes turn{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
