$white:#FFFFFF;
$black:#000000;
$primary-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color :#99E2D0;
$primary-light:#9256dcd3;
$secondary-light:#ff79d9ce;
$dark:#353535;
$lightgrey:#D3D3D3;
$darkgrey:#696969;
$bg-searchbar:#eaeaea;
$bg-card:#f7f7f7;
$favicon-filter-color:#7e7e7e;
$new-color:#008766;
$bag-card-hover:#f5edff;