/**************************************************************************************************************************************/
/*************************************************************heart hover********************************************************************/
/**************************************************************************************************************************************/

span.fa-stack{
  height: auto;
}

/* sélection du premier coeur*/
.fa-stack {
  cursor: pointer;
  font-size: 28px;
  opacity: 1;
}
  
  /* sélection du second coeur*/
  .fa-stack :nth-child(2) {
    font-size: 30px;
    color: transparent;
    /* application de l'animation au hover*/
    &:nth-child(2):hover {
      opacity: 0;
      background-image: linear-gradient($secondary-color, $primary-color);
      background-clip: text;
      -webkit-background-clip: text;
      animation: remplissage 500ms linear forwards;
    }
  }

/* heart animation*/
@keyframes remplissage {
  to {
    opacity: 1;
    transform-origin: bottom;
  }
}
