/**************************************************************************************************************************************/
/*************************************************************header********************************************************************/
/**************************************************************************************************************************************/

.header {
    display: flex;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
    &__link {
      text-decoration: none;
      justify-content: center;
      margin-right: auto;
      margin-left: auto;
    }
    &__title{
      margin-right: auto;
      margin-left: auto;
      width: 150px;
     }
  }

  .fa-arrow-left{
    position: absolute;
   }
  

